.Clean {
    text-align: center;
}
.Footer {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.Location{
    width:70%;
    text-align: center;
    height:10%;
    font-size: 1.5vw;
}
.o1{
    border-radius: 3px;
    background-color:white;
    border-style:solid;
    border-width: 1px;
    border-color: #51ADA9;
    color: #51ADA9;
}
.selected{
    background-color:#51ADA9;
    border-radius: 3px;
    border-style:solid;
    border-width: 1px;
    border-color: #51ADA9;
    color:white;
}
input[type="radio"] {
  position: fixed;
  z-index: -10;
  opacity: 0;
  left: 0;
  top: 0;
}
.btn-primary:not(:disabled):not(.disabled).active{
    background-color: #51ADA9;
}
