.btn-primary {
    color: #fff;
    margin:-4px;
    border-color: gray;
    display: inline-block;
    text-align: center;
    width: 18%;
    padding: 4px;
}
.btn-secondary {
    color: #fff;
    margin:-4px;
    border-color: gray;
    display: inline-block;
    text-align: center;
    width: 18%;
    padding: 0px;
    
}
.caption {
    display:block;
    text-size-adjust:auto;
    font-size: 1.5vw;
}
