.rows {
    display: inline-block;
    border-bottom: 1px solid #C4C4C4;
}

chevron {
}

.female {
    color: #E93CAC;
    display: inline-block;
    margin-right: 5px;
}

.male {
    color: #4690FF;
    display: inline-block;
    margin-right: 5px;
}

.itemName {
    width: 80px;
    height: 16px;
    left: 27px;
    top: 207px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: justify;

    color: #000000;

    display: inline-block;
}

.text {
    width: 90px;
    height: 16px;
    left: 27px;
    top: 207px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    /* identical to box height */

    color: #565656;

    display: inline-block;
}

.date {
    height: 30px;
    background-color: #C4C4C4;
}